body {
    background-color: rgb(40,40,40);

    #title {
        color: #CCFFFF;
        position: absolute;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        margin: 120px auto;
        z-index: 1;
        animation-duration: 2s;

        h1 {
            font-size: 96px;
        }

        h2 {
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    canvas {
        display: block;
        position: fixed;
        z-index: -1;
    }
}
